<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElementUi</title>
    <!-- 引入样式 -->
    <!-- 1. 引入vue -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="../../static/script/vue.js"></script>
    <!-- 2. 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 3. 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <link rel="stylesheet" href="../../static/elementUI/index.css">
    <script src="../../static/elementUI/index.js"></script>
</head>
<body>
<div id="app">
    <el-button type="success">成功按钮</el-button>
</div>
</body>

<script>
    var vm = new Vue({
        el: "#app",
        data() {
            return{

            }
        }
    })
</script>
</html>